<div class="border-b-[3px] border-dnd-purple">
  <h1 class="inline text-3xl p-0 leading-tight font-bold">Summon Fiend</h1><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i>
</div>
<div class="box-border block text-[13px] leading-[18.2px]">
    <section class="border-x-[1px] border-[rgb(236, 233, 233)] mx-[1px] p-[20px]">
        <section>
            <div class="flex flex-wrap m-[-10px]">
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Level</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">6th</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Casting Time</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">1 Action</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Range/Area</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">90 ft</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Components</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">V, S, M *</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Duration</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip"><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i> 1 Hour</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Attack/Save</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">None</div>
                </div>
                <div class="bg-dnd-purple block h-[2px] mb-[30px] mt-[20px] w-[700px]"></div>
                <div class="leading-[23.8px] text-[14px]">
                    <p class="my-1">You call forth a fiendish spirit. It manifests in an unoccupied space that you can see within range. This corporeal form uses the Fiendish Spirit stat block. When you cast the spell, choose Demon, Devil, or Yugoloth. The creature resembles a fiend of the chosen type, which determines certain traits in its stat block. The creature disappears when it drops to 0 hit points or when the spell ends.</p>
                    <p class="my-1">The creature is an ally to you and your companions. In combat, the creature shares your initiative count, but it takes its turn immediately after yours. It obeys your verbal commands (no action required by you). If you don’t issue any, it takes the <a class="text-[#47D18C] font-bold decoration-[rgb(71, 209, 149)]" href="https://www.dndbeyond.com/sources/basic-rules/combat#Dodge">Dodge</a> action and uses its move to avoid danger.</p>
                    <p class="my-1"><strong>At Higher Levels.</strong> When you cast this spell using a spell slot of 7th level or higher, use the higher level wherever the spell’s level appears in the stat block.</p>

                    <span class="block text-[12px] italic leading-[20.4px]">* - (humanoid blood inside a ruby vial worth at least 600 gp)</span>

                </div>
            </div>
        </section>
    </section>
</div>
