<div class="border-b-[3px] border-dnd-purple">
  <h1 class="inline text-3xl p-0 leading-tight font-bold">Summon Lesser Demons</h1><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i>
</div>
<div class="box-border block text-[13px] leading-[18.2px]">
    <section class="border-x-[1px] border-[rgb(236, 233, 233)] mx-[1px] p-[20px]">
        <section>
            <div class="flex flex-wrap m-[-10px]">
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Level</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">3rd</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Casting Time</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">1 Action</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Range/Area</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">60 ft</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Components</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">V, S, M *</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Duration</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip"><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i> 1 Hour</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Attack/Save</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">None</div>
                </div>
                <div class="bg-dnd-purple block h-[2px] mb-[30px] mt-[20px] w-[700px]"></div>
                <div class="leading-[23.8px] text-[14px]">
                    <p class="my-1">You utter foul words, summoning demons from the chaos of the Abyss. Roll on the following table to determine what appears.</p>
                    <div>
                      <table class="w-full">
                        <thead>
                          <tr>
                            <th class="text-center py-[10px] px-[20px] border-b-[2px] border-[#d0cac5]">d6</th>
                            <th class="text-left py-[10px] px-[20px] border-b-[2px] border-[#d0cac5]">Demons Summoned</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bg-[#faf8f7]">
                            <td class="p-[20px] max-w-[400px] text-center">1-2</td>
                            <td class="p-[20px] max-w-[400px] align-middle py-[8px] px-[20px] leading-[1.4]">Two demons of challenge rating 1 or lower</td>
                          </tr>
                          <tr>
                            <td class="p-[20px] max-w-[400px] text-center">3-4</td>
                            <td class="p-[20px] max-w-[400px] align-middle py-[8px] px-[20px] leading-[1.4]">Four demons of challenge rating 1/2 or lower</td>
                          </tr>
                          <tr class="bg-[#faf8f7]">
                            <td class="p-[20px] max-w-[400px] text-center">5-6</td>
                            <td class="p-[20px] max-w-[400px] align-middle py-[8px] px-[20px] leading-[1.4]">Eight demons of challenge rating 1/4 or lower</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p class="my-1">The DM chooses the demons, such as <a class="text-[#bc0f0f] font-bold decoration-[rgb(188, 15, 15)]" href="https://www.dndbeyond.com/monsters/manes">manes</a> or <a class="text-[#bc0f0f] font-bold decoration-[rgb(188, 15, 15)]" href="https://www.dndbeyond.com/monsters/dretch">dretches</a>, and you choose the unoccupied spaces you can see within range where they appear. A summoned demon disappears when it drops to 0 hit points or when the spell ends.</p>
                    <p class="my-1">The demons are hostile to all creatures, including you. Roll initiative for the summoned demons as a group, which has its own turns. The demons pursue and attack the nearest non-demons to the best of their ability.</p>
                    <p class="my-1">As part of casting the spell, you can form a circle on the ground with the blood used as a material component. The circle is large enough to encompass your space. While the spell lasts, the summoned demons can’t cross the circle or harm it, and they can’t target anyone within it. Using the material component in this manner consumes it when the spell ends.</p>
                    <p class="my-1"><strong>At Higher Levels. </strong>When you cast this spell using a spell slot of 6th or 7th level, you summon twice as many demons. If you cast it using a spell slot of 8th or 9th level, you summon three times as many demons.</p>

                    <span class="block text-[12px] italic leading-[20.4px]">* - (a vial of blood from a humanoid killed within the past 24 hours)</span>

                </div>
            </div>
        </section>
    </section>
</div>
