<div class="border-b-[3px] border-dnd-purple">
  <h1 class="inline text-3xl p-0 leading-tight font-bold">Conjure Elemental</h1><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i>
</div>
<div class="box-border block text-[13px] leading-[18.2px]">
    <section class="border-x-[1px] border-[rgb(236, 233, 233)] mx-[1px] p-[20px]">
        <section>
            <div class="flex flex-wrap m-[-10px]">
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Level</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">5th</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Casting Time</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">1 Minute</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Range/Area</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">90 ft</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Components</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">V, S, M *</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Duration</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip"><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i> 1 Hour</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Attack/Save</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">None</div>
                </div>
                <div class="bg-dnd-purple block h-[2px] mb-[30px] mt-[20px] w-[700px]"></div>
                <div class="leading-[23.8px] text-[14px]">
                    <p class="my-1">You call forth an elemental servant. Choose an area of air, earth, fire, or water that fills a 10-foot cube within range. An elemental of challenge rating 5 or lower appropriate to the area you chose appears in an unoccupied space within 10 feet of it. For example, a fire elemental emerges from a bonfire, and an earth elemental rises up from the ground. The elemental disappears when it drops to 0 hit points or when the spell ends.</p>
                    <p class="my-1">The elemental is friendly to you and your companions for the duration. Roll initiative for the elemental, which has its own turns. It obeys any verbal commands that you issue to it (no action required by you). If you don't issue any commands to the elemental, it defends itself from hostile creatures but otherwise takes no actions.</p>
                    <p class="my-1">If your concentration is broken, the elemental doesn't disappear. Instead, you lose control of the elemental, it becomes hostile toward you and your companions, and it might attack. An uncontrolled elemental can't be dismissed by you, and it disappears 1 hour after you summoned it.</p>
                    <p class="my-1"><strong>At Higher Levels.</strong> When you cast this spell using a spell slot of 6th level or higher, the challenge rating increases by 1 for each slot level above 5th.</p>

                    <span class="block text-[12px] italic leading-[20.4px]">* - (burning incense for air, soft clay for earth, sulfur and phosphorus for fire, or water and sand for water)</span>

                </div>
            </div>
        </section>
    </section>
</div>
