<div class="max-h-[400px] overflow-y-scroll mx-[10px]">
  <div *ngIf="selectedSpell === 'Find Familiar'">
    <app-find-familiar></app-find-familiar>
  </div>
  <div *ngIf="selectedSpell === 'Summon Fey'">
    <app-summon-fey></app-summon-fey>
  </div>
  <div *ngIf="selectedSpell === 'Summon Lesser Demons'">
    <app-summon-lesser-demons></app-summon-lesser-demons>
  </div>
  <div *ngIf="selectedSpell === 'Summon Shadowspawn'">
    <app-summon-shadowspawn></app-summon-shadowspawn>
  </div>
  <div *ngIf="selectedSpell === 'Conjure Minor Elementals'">
    <app-conjure-minor-elementals></app-conjure-minor-elementals>
  </div>
  <div *ngIf="selectedSpell === 'Summon Aberration'">
    <app-summon-aberration></app-summon-aberration>
  </div>
  <div *ngIf="selectedSpell === 'Summon Construct'">
    <app-summon-construct></app-summon-construct>
  </div>
  <div *ngIf="selectedSpell === 'Summon Elemental'">
    <app-summon-elemental></app-summon-elemental>
  </div>
  <div *ngIf="selectedSpell === 'Summon Greater Demon'">
    <app-summon-greater-demon></app-summon-greater-demon>
  </div>
  <div *ngIf="selectedSpell === 'Conjure Elemental'">
    <app-conjure-elemental></app-conjure-elemental>
  </div>
  <div *ngIf="selectedSpell === 'Infernal Calling'">
    <app-infernal-calling></app-infernal-calling>
  </div>
  <div *ngIf="selectedSpell === 'Summon Draconic Spirit'">
    <app-summon-draconic-spirit></app-summon-draconic-spirit>
  </div>
  <div *ngIf="selectedSpell === 'Summon Fiend'">
    <app-summon-fiend></app-summon-fiend>
  </div>
</div>
