<div class="max-h-[400px] overflow-y-scroll mx-[10px]">
  <div *ngIf="selectedSpell === 'Find Familiar'">
    <app-find-familiar></app-find-familiar>
  </div>
  <div *ngIf="selectedSpell === 'Summon Fey'">
    <app-summon-fey></app-summon-fey>
  </div>
  <div *ngIf="selectedSpell === 'Summon Lesser Demons'">
    <app-summon-lesser-demons></app-summon-lesser-demons>
  </div>
  <div *ngIf="selectedSpell === 'Summon Shadowspawn'">
    <app-summon-shadowspawn></app-summon-shadowspawn>
  </div>
  <div *ngIf="selectedSpell === 'Conjure Minor Elementals'">
    <app-conjure-minor-elementals></app-conjure-minor-elementals>
  </div>
  <div *ngIf="selectedSpell === 'Summon Aberration'">
    <app-summon-aberration></app-summon-aberration>
  </div>
  <div *ngIf="selectedSpell === 'Summon Construct'">
    <app-summon-construct></app-summon-construct>
  </div>
</div>
