<div class="border-b-[3px] border-dnd-purple">
  <h1 class="inline text-3xl p-0 leading-tight font-bold">Conjure Minor Elementals</h1><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i>
</div>
<div class="box-border block text-[13px] leading-[18.2px]">
    <section class="border-x-[1px] border-[rgb(236, 233, 233)] mx-[1px] p-[20px]">
        <section>
            <div class="flex flex-wrap m-[-10px]">
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Level</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">4th</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Casting Time</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">1 Minute <i className="i-ritual">Ritual</i></div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Range/Area</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">90 ft</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Components</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">V, S</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Duration</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip"><i class="inline-block h-[21px] w-[21px] text-[13px] bg-i-concentration bg-no-repeat bg-center indent-[-999999px] ml-[3px] mr-[5px]">Concentration</i> 1 Hour</div>
                </div>
                <div class="block basis-1/4 grow shrink p-[10px]">
                    <div class="text-[14px] font-bold leading-[19.2px] overflow-hidden text-ellipsis uppercase whitespace-nowrap">Attack/Save</div>
                    <div class="text-[16px] leading-[22.4px] overflow-visible text-clip">None</div>
                </div>
                <div class="bg-dnd-purple block h-[2px] mb-[30px] mt-[20px] w-[700px]"></div>
                <div class="leading-[23.8px] text-[14px]">
                  <p class="my-1">You summon elementals that appear in unoccupied spaces that you can see within range. You choose one the following options for what appears:</p>
                  <ul class="list-disc p-[15px]">
                    <li>One elemental of challenge rating 2 or lower</li>
                    <li>Two elementals of challenge rating 1 or lower</li>
                    <li>Four elementals of challenge rating 1/2 or lower</li>
                    <li>Eight elementals of challenge rating 1/4 or lower.</li>
                  </ul>
                  <p class="my-1">An elemental summoned by this spell disappears when it drops to 0 hit points or when the spell ends.</p>
                  <p class="my-1">The summoned creatures are friendly to you and your companions. Roll initiative for the summoned creatures as a group, which has its own turns. They obey any verbal commands that you issue to them (no action required by you). If you don't issue any commands to them, they defend themselves from hostile creatures, but otherwise take no actions.</p>
                  <p class="my-1">The GM has the creatures' statistics.</p>
                  <p class="my-1"><strong>At Higher Levels. </strong>When you cast this spell using certain higher-level spell slots, you choose one of the summoning options above, and more creatures appear: twice as many with a 6th-level slot and three times as many with an 8th-level slot.</p>
                </div>
            </div>
        </section>
    </section>
</div>
